@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
/* @import url('https://cdn.syncfusion.com/ej2/21.1.35/bootstrap5.css" rel="stylesheet'); */
/* @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'); */

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;